.announcement {
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #adadad;
  background-color: aliceblue;
  margin-bottom: 20px;
}

.announcement__informationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.announcement__infoSection {
  display: flex;
  align-items: center;
}

.announcement__nameAndDate {
  margin-left: 10px;
}

.announcement__name {
  font-weight: 400;
  font-size: 16px;
}

.announcement__date {
  color: #424242;
  font-size: 14px;
  margin-top: 2px;
}
.announcement__content {
  text-align: left;
  margin-left: 50px;
  font-size: 16px;
}
.announcement__imageContainer > img {
  height: 50px;
  width: 50px;
  border-radius: 9999px;
}
@media screen and (max-width: 720px) {

  .announcement__imageContainer > img {
    height: 40px;
    width: 40px;
    border-radius: 9999px;
  }
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer input[type="file"] {
  width: 25%;
  justify-content: space-around;
  margin-top: 8px; /* Add margin between the file input and the button */
}

.assignment__upload {
  width: 40%;
  margin-top: 6px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #4285f4;
  cursor: pointer;
  padding: 10px;
}

@media screen and (max-width: 720px) {
  .assignment__upload {
    font-weight: 400;
    font-size: 13px;
    padding: 4px;
  }
}

.assignment__view {
  width: 50%;
  margin-top: 6px;
  padding-left: 40px;
  padding-right: 35px;
  border-radius: 16px;
  background-color: rgb(12, 148, 12);
}

@media screen and (max-width: 720px) {
  .assignment__view {
    font-weight: 400;
    font-size: 14px;
    padding: 8px;
  }
}



