.classCard__upper {
    background-color: #008d7d;
    height: 90px;
    position: relative;
    color: white;
    padding: 10px;
    border-bottom: 2px solid #dcdcdc;
  }
  .classCard {
    width: 300px;
    border: 1px solid #d6caca;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 6px -2px black;
    background-color: #f4f2f2;
  }
  .classCard__middle {
    height: 190px;
    border-bottom: 1px solid #dcdcdc;
  }
  /* .classCard__creatorPhoto {
    position: absolute;
    right: 5px;
    border-radius: 9999px;
  } */
  .classCard__className {
    font-weight: 600;
    font-size: 26px;
  }
  .classCard__creatorName {
    position: absolute;
    bottom: 12px;
    font-size: 15px;
  }
  .classCard__lower {
    display: flex;
    flex-direction: row-reverse;
  }